<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>
Normally , whatsapp loads 40 messages in a chat when requested . Well, adjusting this slider you can decide how many messages to be loaded :) </string>
			<key>label</key>
			<string>Whatsapp :</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sammour.ISLoader.preferences-changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sammour.ISLoader</string>
			<key>key</key>
			<string>tapConfirmation</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.sammour.ISLoader</string>
			<key>key</key>
			<string>Slider</string>
			<key>max</key>
			<string>10000</string>
			<key>min</key>
			<string>1</string>
			<key>showValue</key>
			<string>True</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Messages Stock App :</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sammour.ISLoader.preferences-changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sammour.ISLoader</string>
			<key>key</key>
			<string>tapConfirmation1</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.sammour.ISLoader</string>
			<key>key</key>
			<string>Slider1</string>
			<key>max</key>
			<string>100</string>
			<key>min</key>
			<string>1</string>
			<key>showValue</key>
			<string>True</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Change the slider and open wechat then when opening a chat the number of the slider is the number of the messages that will be loaded :) </string>
			<key>label</key>
			<string>WeChat</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.sammour.ISLoader.preferences-changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sammour.ISLoader</string>
			<key>key</key>
			<string>wechat</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.sammour.ISLoader</string>
			<key>key</key>
			<string>Sliderwe</string>
			<key>max</key>
			<string>300</string>
			<key>min</key>
			<string>1</string>
			<key>showValue</key>
			<string>True</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WA Earlier Messages © 2015 Ibrahim Sammour</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>default</key>
			<false/>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Follow me on twitter</string>
		</dict>
		<dict>
			<key>firstTime</key>
			<string>0</string>
			<key>label</key>
			<string> Donate To s1mm0ur@outlook.com </string>
		</dict>
	</array>
	<key>title</key>
	<string>WA Earlier Messages</string>
</dict>
</plist>
